html{box-sizing: border-box;}
*,
*::before,
*::after {
  box-sizing: inherit;}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
margin: 0;}

h1,h2,h3,h4,h5,h6,p{margin-top: 0;
margin-bottom: 0;}


.list {list-style: none;
padding: 0;
margin: 0;}

:root{
--title-text-color:#212121;
--primary-text-color:#757575;
--accent-color:#2196F3;
--primary-bg-color:#F5F4FA;}

/* кнопка */

.btn:hover,
.btn:focus {
background-color: var(--accent-color);}

.btn {
cursor: pointer;}

.container {width:1170px;
padding: 0px 15px;
margin: 0 auto;}


/* header */

/* logo */
.container-header{display: flex;}



.page-header{outline: 2px solid black}

.logo{color:var(--accent-color);
text-decoration: none;
font-size: 26px;
font-family: "Raleway", sans-serif;}

.logo-s{color:#000000;}

/* nav */

.nav{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;}

.item-nav {
display: block;}

.site-nav{display: flex;}

.site-nav .link {color:var(--title-text-color);
text-decoration: none;}

.site-nav .link:hover,
.site-nav .link:focus{color:var(--accent-color)}

.link.studio {color: var(--accent-color);}

.link.portfolio{color: var(--accent-color);}

/* contacts */

.site-contacts .contacts{color:var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;}

.item-contacts{display: block;}


.box-contacts > .site-contacts{display: flex;
}

.site-contacts .contacts:hover,
.site-contacts .contacts:focus{color:var(--accent-color)}


/* section hero */
.hero{background: #2f303a;
width: 1600px;
height: 600px;
text-align: center;
margin: 0 auto;}

.hero-title{color:#ffffff;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
margin-top: 17px;
max-width: 696px;
margin-left: auto;
margin-right: auto;
padding-top: 200px;}

.hero-btn{background-color: var(--accent-color);
color:#ffffff;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
border: none;
border-radius: 4px;
min-width: 216px;
height: 50px; 
padding: 10px 32px;
text-align: center;
margin-top: 30px;}

/* section advandage */

.visibility{outline: 2px solid red;
margin-top: 94px;
visibility: hidden;}


.advandage .list{display: flex;
padding-top: 0px;}

.item-advandage {
display: block;}

.section{outline: 2px solid tomato;}

.list .title{color: var(--title-text-color);
font-size: 14px;
text-transform: uppercase;}

.section .text{
font-size: 14px;
line-height: 1.71;}

/* section our works */

.title.work {
font-size: 36px;
text-align: center;
color: var(--title-text-color);
margin-top: 94px; 
padding-bottom: 50px;}

.list-work{display: flex;}

.list-work.item-work{display: block;}

/* section name */

.title.team {
font-size: 36px;
text-align: center;
color: var(--title-text-color);
margin-top: 94px;padding-top: 94px;
padding-bottom: 50px;}

.title.name{
font-weight: 500;
font-size: 16px;}
.text.proffesion{
font-size: 16px;}

.list-team{padding-bottom: 86px;
display: flex;}

.item-team{display: block;}

/* footer */

.logo.logo-footer{display: block;
  padding-top: 60px;
padding-bottom: 20px;
margin-top: 8px;}

.address{background-color:black;}

.address .contacts-footer{
font-style: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);}

.city{color: #FFFFFF;}

.contacts-footer:hover,
.contacts-footer:focus{color: var(--accent-color);}

.town{font-style: normal;
font-size: 14px;
line-height: 1.71;
color: #fff;}


/* PORTFOLIO */
.btn-portfolio{
background-color: var(--primary-bg-color);

color: var(--title-text-color);}

.btn-portfolio{
font-weight: 500;
font-size: 16px;
line-height: 1.62;}

.list .title-portfolio{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);}

.list .text-portfolio{
font-size: 16px;
line-height: 1.87;}